.footer {
  @apply 
    bg-white
    text-black
    dark:text-white 
    dark:bg-black 
    min-h-[20rem]
    flex
    flex-col
    justify-center
    px-7
    py-5;
  font-family: $primary-font;

  .logo {
    @apply
      font-bold
      py-5
  }

  .footer-grid {
    @apply
      grid
      md:grid-cols-2
      w-full
  }
  .links {
    @apply 
      flex
      flex-col 
      py-2
      even:md:text-right
  } 
}